.header{
    max-height: 50px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 50px;
}

.header__logo{
    font-weight: 600;
    font-size: 35px;
    margin-right: -34px;
}

.header__search{
    flex-grow: 1;
}

.background{
    width: clamp(300px, 50%, 1200px);
        min-height: 200px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 30px 10px;
        position: relative;
        word-break: break-all;
}

